[Unit]
Description=Sway Wayland Compositor
Documentation=man:sway(5)
After=seatd.service
Wants=seatd.service
Conflicts=getty@tty1.service
After=getty@tty1.service

[Service]
Type=simple
User=root
RuntimeDirectory=sway
RuntimeDirectoryMode=0700
Environment=HOME=/root
Environment=XDG_RUNTIME_DIR=/run/sway
Environment=XDG_SESSION_TYPE=wayland
Environment=LIBSEAT_BACKEND=noop
Environment=WLR_RENDERER=pixman
StandardInput=tty
StandardOutput=journal
StandardError=journal
TTYPath=/dev/tty1
TTYVHangup=yes
TTYVTDisallocate=yes
ExecStart=/usr/bin/dbus-run-session -- /usr/bin/sway
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
